.grid {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
}

.line {
  display: flex;
  flex: 1;
  justify-content: center;
}

.node {
  display: flex;
  flex: 1;
  outline: 1px solid rgb(175, 216, 248);
}

.dragg {
  cursor: grab;
}

.startNode {
  background-image: url(../assets/triangletwo-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.targetNode {
  background-image: url(../assets/circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wall {
  background-color: rgb(12, 53, 71);
}
